#Home {
    background-color: bisque;
    padding: 5% 0;
}
.pageCard {
    padding: 5% 0 0;
    text-align: center;
    background-color: antiquewhite;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.275);
}
.myPic {
    background-color: rgb(187,189,191);
    margin-bottom: 10%;
}
#nameFont {
    font-size: 25px;
    font-weight: bolder;
}
.name {
    line-height: 0.7;
}
#line {
    width: 10%;
    border-bottom: 2px solid blue;
    margin: 10% auto 10%;
}
#designationTextInsideCard {
    letter-spacing: 7px;
}
#socialForumsIcons {
    margin-top: 15%;
    text-align: center;
    background-color: white;
    padding: 4% 0;
}
#icons {
    margin: 0 10px;
    font-size: 20px;
    /* padding: 5px; */
}
#helloText {
    margin-top: 5%;
    font-family: Arial;
    font-size: 30px;
    font-weight: 700;
}
#introText {
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 600;
}
#resumeBtn {
    border-radius: 25px;
    color: white;
    background-color: rgb(63, 149, 255);
    margin-right: 5%;
}
#resumeBtn:hover {
    color: black;
    background-color: white;
    outline: 2px solid rgb(63, 149, 255);
}
#projectsBtn {
    border-radius: 25px;
    color: black;
    background-color: white;
    border: 1px solid black;
}
#projectsBtn:hover {
    outline: none;
    border: none;
    background-color: rgb(63, 149, 255);
    color: white;
}
#certifiedText {
    margin-top: -5%;
    text-align: end;
}
#apjQuotes {
    margin-top: 15%;
    font-style: italic;
    margin-bottom: 10%;
}