.HomePage
{
    background-image: url('pp-home-bg.jpg');
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: cover;
    height: 100%;
    color: black;
}
.HomePageDiv
{
    padding: 20%;
}