table{
    width: 800px;
    height: 450px;
    margin: 50px auto;
    border-collapse: collapse;
    border: 1px solid rgba(219, 219, 219, 0.5)
}
tr td:nth-child(1){
    font-weight: 700;
    padding-left: 20px;
}
tr th:nth-child(1){
    padding-left: 20px;
}
tr th{
    text-align: left;
    font-weight: 400;
    background-color: white;
}
caption{
    padding-bottom: 30px;
    font-size: x-large;
    font-weight: 800;
}
tr:nth-child(odd){
    background-color: rgba(170, 170, 170, 0.5);
}
table tr{
    height: 50px;
}
.Progress{
    border: none;
    background-color: green;
}