.TechCardsPage {
    background-color: azure;
    height: 100%;
}
.card_bg {
    background-color: white;
    margin-bottom: 3%;
    border-radius: 25px;
}
.PicPosition {
    text-align: right;
}
.card_Ds {
    border-top: 5px solid rgb(232, 99, 51);
}
.card_IOT {
    border-top: 5px solid rgb(73, 174, 202);
}
.Card_VR {
    border-top: 5px solid rgb(84, 209, 56);
}
.Card_ML {
    border-top: 5px solid rgb(240, 223, 39);
}