.eduText, .expText {
    background-color: whitesmoke;
}
.listOfEdu, .expList {
    background-color: rgb(244,236,230);
    padding: 5%;
}
.educations {
    background-color: whitesmoke;
    padding: 5%;
    box-shadow: 1px 1px 50px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 5%;
}
#degree, #companyName {
    font-size: 20px;
    font-weight: 700;
}
.eduDetails {
    line-height: 2;
}
.seperator {
    height: 20px;
    background-color: whitesmoke;
}