/* #educationSection {
    max-height: 100vh;
} */
.eduPage {
    background-color: whitesmoke;
}
#educationText {
    padding: 75% 15%;
}
.listOfEdu {
    background-color: rgb(244,236,230);
    padding: 5%;
}
.educations {

}