#HomePage {
    padding: 5% 0;
}
#searchInput {
    margin-left: 5%;
    border: none;
    outline: none;
    width: 90%;
}
.searchBox {
    border: 1px solid rgba(0, 0, 0, 0.433);
    padding: 0 1%;
    border-radius: 25px;
    max-width: 100%;
    margin-left: 10%;
}
.addCustomer {
    border-radius: 50px;
    border: 1px solid black;
}
#HomeTable {
    width: 100%;
    margin-top: 5%;
}
#viewIcon {
    color: blue;
    border: none;
}
#editIcon {
    color: orange;
    border: none;
}
#deleIcon {
    color: red;
    border: none;
}
#HomeTable th {
    border-bottom: 2px solid black;
    padding-bottom: 1%;
}
#HomeTable tr:nth-child(odd) {
    background-color: rgba(182, 244, 244, 0.5);
}
#HomeTable tr:nth-child(even) {
    background-color: rgba(182, 244, 244, 0.1);
}
#HomeTable th {
    background-color: rgba(75, 231, 255, 0.5) !important;;
}
#HomeTable th {
    padding: 2% 1%;
}
#HomeTable td {
    padding: 1%;
}